
{{question.author}}, this {{question.question}}
<br>

<h2> Answer </h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

<button {{action 'delete' question}}>Delete</button>
